<span class="logo"></span>
<div class="hello">
  <p>Я, Аурика Цуркан.</p>
  <p>Добро пожаловать на сайт посвященный восточным танцам</p>
  <p>Здесь вы сможете познакомиться с различными направлениями восточного танца пензы, зайдя в раздел
  <%= link_to "'Фотоальбомы'", foto_albums_path %>
  <%= link_to "Видео", videos_path %>
  </p>
  <p>Так же вы можете узнать <%= link_to "расписание и место проведения занятий", schedule_path %>.</p>
  <p>Здесь будут освещаться события и новости происходящие в Пензе и связанные с арабским танцем.</p>
  <!--<p>Если у вас есть желание увидеть выступление Аурики на своей свадьбе (корпоративе, банкете, вечеринке, дне рождении и т.д.)</p>-->
  <!--<p>Вы можете отправить свою заявку на<a href="mailto:lexa.tarasov@gmail.ru"> электронный адрес lexa.tarasov@gmail.ru</a></p>-->

</div>

<div id="lastNews">
  <% if @events.size > 0 %>
  <h1>Новости восточного танца в Пензе</h1>
<% @events.each do |event| %>
    <div class="content_body">
      <h3><%= link_to event.title, event %></h3>
      <%= truncate event.description.html_safe.gsub(/<\/?[^>]*>/, "") , :length => 300, :omission => '...' %>

    </div>

<% end %>
  <h3><%= link_to "Остальные новости", events_path  %></h3>
  <% end %>
  <%#= @sape.links.html_safe %>
  <% if @publications.size > 0 %>
      <h1>Публикации посвященные восточному танцу</h1>
      <% @publications.each do |publication| %>
          <div class="content_body">
            <h3><%= link_to publication.title, publication %></h3>
            <%= truncate publication.description.html_safe.gsub(/<\/?[^>]*>/, "") , :length => 300, :omission => '...' %><br/>
            Раздел: <%= link_to publication.article.name, publications_path %>
          </div>

      <% end %>
  <h3><%= link_to "Остальные статьи", publications_path  %></h3>
  <% end %>
</div>
<script type="text/javascript">
//  window.onload = function () {
//      $("#link_overlay").overlay();
//      $("#link_overlay2").overlay();
//  }
</script>
<!--div class="tiser" id="link_overlay" rel="#advest" onmouseover="openFeedback('advest');">
  <p style="color:red;">Внимание изменение мастер-класса</p>
10-11 марта 2012 - 2 открытый рейтинговый чемпионат Пензенской области по Танцу живота.
  <p style="color:red;">Регистрация закрыта.</p>

  <p>C участием:</p>
  <p>Елены Рамазановой</p>

  <p> Вилены</p>

  <p>А так же коллективов г.Самара, г.Пензы и других городов России. </p>
  <p>Узнать больше >> </p>
</div>

<div class="tiser2" id="link_overlay2" rel="#advest2" onmouseover="openFeedback('advest2');">
<%#= image_tag "aurika.jpg", :size => "260x367"%>
</div>

<div class="overlay" id="advest2">
       <%#= image_tag "aurika.jpg" %>
</div>

<div class="overlay" id="advest">
  <p style="color:red;">Внимание вместо мастер-класcа Ясмин будет проведен мастер-класс Вилены - Модерн(Танец Делает Музыку Видимой!)</p>
  <p>Пензенская федерация восточного танца совместно с Лигой профессионалов восточного танца(г. Москва) представляет</p>

  <p> 10-11 марта 2012 ЦХИ(д/к 40-лет Октября) 2 открытый рейтинговый чемпионат Пензенской области по Танцу живота</p>
  <p style="color:red;">Регистрация закрыта.</p>

  <p>В рамках чемпионата мастер классы лучших преподавателей по танцу живота:</p>


  <p>Президента Лиги профессионалов восточного танца
    <a href="http://www.bellydance.ru/dancers/foto17.shtml">Елены Рамазановой</a> г.Москва(Россия)</p>

  <p> Преподавателя лиги профессионалов восточного танца Вилены г.Москва(Россия)<</p>

  <p>В программе гала шоу "Магия востока" с участием звезд: Елены Рамазановой, Вилены</p>

  <p>А так же коллективов г.Самара, г.Пензы и других городов России. </p>

  <p>Справки по телефону 8(8412)95-13-43. Регистрация по почте <a href="mailto:legue@yandex.ru"> legue@yandex.ru</a> или на сайте <a href="http://www.bellydanceliga.ru/index.php/component/artforms/?formid=3" target="_blank">www.bellydanceliga.ru</a>,<br/> а так же смотрите за обновлениями в разделе
    новости</p>

  <p>Условия участия в конкурсах: </p>
  <p><a href="http://www.bellydanceliga.ru/index.php/2011-01-09-12-57-23">Рейтинговые номинации</a></p>
  <p><a href="http://www.bellydanceliga.ru/index.php/2011-01-09-12-59-59">Не рейтинговые номинации</a></p>


  <table>

    <tr>
      <td align="center">
        <p>Вилена</p>
        <img src="images/vilena.jpg" alt="Дарья Мицкевич" width="450px" style="border-radius:10px; -moz-border-radius: 10px 10px 10px 10px;">

      </td>
      <td align="center">
        <p>Елена Рамазанова</p>
        <img src="images/elena.jpg" alt="Елена Рамазанова" width="250px" style="border-radius:10px; -moz-border-radius: 10px 10px 10px 10px;">

      </td>


    </tr>
  </table>
 </div-->
