<% title "Новая новость" %>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
   <%= fckeditor_textarea("event", "description", :toolbarSet => 'Default', :width => '100%', :height => '300px') %>
  </p>  <p>
    <%= f.submit 'Добавить новость' %>
  </p>
<% end %>

<%= link_to 'Вернуться', events_path %>